<!DOCTYPE html>
<html lang="<%= config.language %>">
<%- partial('_partial/head') %>

<body data-color-scheme="<%= theme.color_scheme %>" data-uppercase-categories="<%= theme.uppercase_categories %>" <% if (theme.rainbow_banner == true) { %> data-rainbow-banner="<%= theme.rainbow_banner %>" data-rainbow-banner-shown="<%= theme.rainbow_banner_shown %>" data-rainbow-banner-month="<%= theme.rainbow_banner_month %>" data-rainbow-banner-colors="<%= theme.rainbow_banner_colors %>" <% } %> data-config-root="<%- config.root %>" <% if (theme.toc == true) { %> data-toc="<%= theme.toc %>" data-toc-max-depth="<%= theme.toc_max_depth %>" <% } %> <% if (theme.search == true && page.type == 'search') { %> data-search-path="<%= theme.search_path %>" <% } %>>
  <%- partial('_partial/nav') %>
  <%- body %>
  <%- partial('_partial/footer') %>
  <script async src="https://umami.eurekac.cn/script.js" data-website-id="8be37a45-1387-4cd9-86ae-7fd3d33e8c29"></script>
  <script src="https://registry.npmmirror.com/@chenyfan/cache-db/1.1.6/files/dist/index.min.js"></script>
  <!-- FancyBox -->
  <% if (config.fancybox.enable) { %>
  <script src="https://registry.npmmirror.com/@chenyfan/npm-autosync/0.0.0-1729174143/files/data/npm/@fancyapps/ui/4.0.31/files/dist/fancybox.umd.js"></script>
  <% } %>

  <% if (theme.search == true && page.type == 'search') { %>
  <script src='<%- theme.cdn_mirror %>js/search.js'></script>
  <% } %>
  <% if (config.tidio) { %>
  <%- js(config.tidio) %>
  <% } %>
  <% if (config.ackee) { %>
  <%- config.ackee %>
  <% } %>
  <script src="https://registry.npmmirror.com/@chenyfan/npm-autosync/0.0.0-1729174143/files/data/npm/pagemap/1.4.0/files/dist/pagemap.min.js"></script>
  <script src="https://registry.npmmirror.com/@chenyfan/npm-autosync/0.0.0-1729174143/files/data/npm/notyf/3.10.0/files/notyf.min.js"></script>
  <script src='<%- theme.cdn_mirror %>js/main.js'></script>
</body>

</html>